{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
