# This is an example .env file.
# Rename it to `.env` and update the variables to match your configuration.

NODE_ENV=development


NEXT_PUBLIC_BACKEND_DOMAIN='http://localhost:5000'
NEXT_PUBLIC_FRONTEND_DOMAIN='http://localhost:3000'

# Backend API Endpoints
BACKEND_API_DOMAIN='${NEXT_PUBLIC_BACKEND_DOMAIN}/api'
DEPARTMENT_API='${BACKEND_API_DOMAIN}/department'
CATEGORY_API='${BACKEND_API_DOMAIN}/category'
ITEM_API='${BACKEND_API_DOMAIN}/item'
BANNER_API='${BACKEND_API_DOMAIN}/banner'
SEARCH_API='${BACKEND_API_DOMAIN}/search'
CURRENCY_API='${BACKEND_API_DOMAIN}/exchange-rate'
AUTH_REGISTER_API='${BACKEND_API_DOMAIN}/auth/register'
AUTH_LOGIN_API='${BACKEND_API_DOMAIN}/auth/login'
AUTH_REFRESH_API='${BACKEND_API_DOMAIN}/auth/refresh'
AUTH_LOGOUT_API='${BACKEND_API_DOMAIN}/auth/logout'
AUTH_GOOGLE_OAUTH_API='${BACKEND_API_DOMAIN}/auth/google'
AUTH_GOOGLE_OAUTH_CALLBACK_API='${BACKEND_API_DOMAIN}/auth/callback'
AUTH_CONFIRMATION_EMAIL_API='${BACKEND_API_DOMAIN}/auth/confirmation'
AUTH_RECOVERY_EMAIL_API='${BACKEND_API_DOMAIN}/auth/recovery'

# Authjs
AUTH_SECRET=authjs_secret_key
AUTH_TRUST_HOST='${NEXT_PUBLIC_FRONTEND_DOMAIN}'

# Google Recaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=google_recaptcha_site_key